﻿<!-- modal next step -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog dialog-step" role="document">
        <div class="box box-primary">
            <div class="box-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <h5 class="modal-title scarti-title" id="exampleModalLabel">Sei sicuro di voler procedere ?</h5>
                </div>
                <div class="modal-body">
                    &nbsp;
                </div>
                <div class="modal-footer no-border">
                    <button type="button" class="button-cancel-enel pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Annulla</button>
                    <button type="button" class="button-main-enel pull-right">Continua <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  modal next step -->

<script></script>