﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - CIMBypass</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/dist/css/Indra.css" rel="stylesheet" />
    <link href="~/Content/dist/css/Enel-main.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/fontawesome-free-5.7.2-web/css/all.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/dist/css/skins/_all-skins.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/datepicker/locales/bootstrap-datepicker.it.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/controller/shared.logger.js"></script>
    <script src="~/Scripts/controller/shared.spinner.js"></script>
    <script src="~/Scripts/controller/shared.validator.js"></script>
    <script src="~/Scripts/controller/shared.js"></script>
    <script src="~/Content/dist/js/app.js"></script>
</head>
<body class="hold-transition skin-rose sidebar-mini">
    <div class="wrapper" height auto; min-height 100%;>
        @Html.Partial("_Header")

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            @Html.Partial("_NavMenu")
        </aside>
        <div class="content-wrapper">
            @Html.Partial("_Message")
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="footer-welcome-user pull-left welcome-text user-decoration">
                Benvenuto utente
            </div>
            <div class="pull-left col-md-offset-4 logo-footer-enel" style="color:transparent">
                <i class="fas fa-ghost"></i>Sei in @ViewBag.Envirorment<i class="fas fa-ghost"></i>
            </div>
            <div class="pull-right hidden-xs">
                CIMBypass - @DateTime.Now.Year <i class="fas fa-copyright"></i>
            </div>
            <span>&nbsp;</span>
        </footer>
    </div>
</body>
</html>