﻿@using Enel.Indra.CIMBypass.Business.Data.Model.CustomModel;


@if (TempData["OperationResult"] != null)
{
    OperationResultModel msgMdl = (OperationResultModel)TempData["OperationResult"];
    <section class="contentMessage">
        <div id="divMessageTransaction" class="msg msg--@msgMdl.Type msg--@msgMdl.Type-text ">
            <i class="icon fa fa-@msgMdl.IconName"></i>
            @msgMdl.Message
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        //$('#divMessageTransaction').show();
        $('#divMessageTransaction').fadeIn(1500).delay(2000).fadeOut(1500); //10 seconds x 1000 milisec = 5000 milisec
    });
</script>