﻿<section class="sidebar">
    <ul class="sidebar-menu">
        @{
            var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
            var actionName = this.ViewContext.RouteData.Values["action"].ToString();
        }
        <li class="treeview @(controllerName == "Upload" && actionName == "UploadFile"  ? "active" : "")">
            <a href="@Url.Action("UploadFile", "Upload")">
                <i class="fas fa-cloud-upload-alt"></i> <span>Upload</span>
            </a>
        </li>
        <li class="treeview @(controllerName == "Mock" && actionName == "mockMethod" ? "active" : "")">
            <a href="@Url.Action("Index", "Action")">
                <i class="fas fa-piggy-bank"></i> <span>Action</span>
            </a>
        </li>
        <!--
        <li class="treeview @@(controllerName == "Mock" ? "active" : "")">
            <a href="@@Url.Action("mockMethod", "Mock")">
                <i class="fa fa-cogs"></i> <span>Impostazioni</span>
            </a>
        </li>
        -->
        <li class="treeview @(controllerName == "Help" ? "active" : "" )">
            <a href="#">
                <i class="fa fa-question-circle"></i> <span>Help</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@(actionName == "Upload" ? "active" : "")">
                    <a href="@Url.Action("mockMethod","Help")">
                        <i class="fa fa-info-circle"></i>
                        <span>
                            Upload
                        </span>
                    </a>
                </li>
                <li class="@(actionName == "mockMethod" ? "active" : "")">
                    <a href="@Url.Action("Action","Help")">
                        <i class="fa fa-info-circle"></i>
                        <span>
                            Action
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>