﻿@{ViewBag.Title = "Gestione XML";}
@model Enel.Indra.CIMBypass.Models.Action.IndexVModel

<link href="~/Scripts/plugins/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/controlDatePicker.js"></script>

<section class="content-header">
    <div class="title-pages">
        Gestione File
    </div>
</section>

<section class="content">
    <div class="row">
        <!-- Left col -->
        <div class="col-lg-12 connectedSortable">
            <div class="box box-primary">
                <form role="form">
                    <div class="box-body">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Nome flusso" class="control-label label-light">Nome flusso:</label>
                                <div>
                                    @Html.DropDownListFor(m => m.flussoSelezionato, Model.elencoFlussi, "Tutti", new { @class = "form-control", @name = "ddlFlusso", @id = "ddlFlusso" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label label-light">Data flusso da:</label>
                                <div>
                                    <div class="input-group date" id="datetimepicker">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" id="indatetimepicker1" name="indatetimepicker1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-light" control-label">Data flusso a:</label>
                                <div>
                                    <div class="input-group date" id="datetimepicker2">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" id="indatetimepicker2" name="indatetimepicker2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="form-group form-group-margin">
                                <label for="Nome flusso" class="control-label label-light"></label>
                                <div class="input-group date" id="datetimepicker2">
                                    <div class="input-group-addon" style="border-color:transparent;">
                                        <button type="button" class="button-primary-enel search-wdt" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Caricamento.." onclick="mostraGriglie()">
                                            Ricerca <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- // box-body -->
                </form>
            </div>
        </div>
        <div class="content-TabelleCSO" style="display:none">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-primary">
                    <div class="box-header with-border subtitle-margin-bottom">
                        <h4 class="box-title">Elenco file caricati</h4>
                    </div>
                    <div id="tabellaTSO_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="box box-solid bg-light-blue-gradien">
                            <div class="box-body">
                                <div class="col-md-12">
                                    <table id="grigliaFileDaElaborare" class="table table-bordered table-width-uploaded table-striped dataTable text-table no-footer col-md-8  no-padding" role="grid" aria-describedby="tabellaTSO">
                                        <thead>
                                            <tr role="row">
                                                <td class="sorting_asc" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%;" aria-sort="ascending" aria-label="Data Scheduling: clicca per ordinare">Data Flusso Da</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%;" aria-sort="ascending" aria-label="Data Scheduling: clicca per ordinare">Data Flusso A</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%" aria-label="Ora Upload: clicca per ordinare">Data Upload</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%" aria-label="Flusso: clicca per ordinare">Flusso</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:10%" aria-label="Versione: clicca per ordinare">Nome File</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:10%" aria-label="Action: clicca per ordinare">Action</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border subtitle-margin-bottom">
                        <h4 class="box-title">Elenco file elaborati</h4>
                    </div>
                    <div id="tabellaTSO_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="box box-solid bg-light-blue-gradien">
                            <div class="box-body">
                                <div class="col-md-12">
                                    <table id="grigliaFileElaborati" class="table table-bordered table-width-uploaded table-striped dataTable text-table no-footer col-md-8  no-padding" role="grid" aria-describedby="tabellaTSO">
                                        <thead>
                                            <tr role="row">
                                                <td class="sorting_asc" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%;" aria-sort="ascending" aria-label="Data Scheduling: clicca per ordinare">Data Flusso Da</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%;" aria-sort="ascending" aria-label="Data Scheduling: clicca per ordinare">Data Flusso A</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%" aria-label="Ora Upload: clicca per ordinare">Data Upload</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:20%" aria-label="Flusso: clicca per ordinare">Flusso</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:10%" aria-label="Versione: clicca per ordinare">Nome File</td>
                                                <td class="sorting" tabindex="0" aria-controls="grigliaXMLDaGenerare" rowspan="1" colspan="1" style="width:10%" aria-label="Action: clicca per ordinare">Action</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            @{
                //Html.RenderPartial("_DettaglioScarti");
            }
        </div>
    </div>
</section>
<script>

    $(function(){
        //mostraGriglie();
    });

    function avviaElaborazioneFile(idArchivio) {
        $.ajax({
            url: '/Action/ElaboraFileInput/?idArchivio=' + idArchivio,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                aggiornaTabellaFileDaElaborare();
                aggiornaTabellaFileElaborati();
            }
        });
    }
    function mostraGriglie() {
        var dataDa = $('#indatetimepicker1').val();
        var dataA = $('#indatetimepicker2').val();

        if (isDatesNull(dataDa, dataA)) {
            alert("I campi data devono essere entrambi valorizzati");
            return;
        }

        if (isDateRangeNotValid(dataDa, dataA)) {
            alert("\"Data scheduling da\" deve essere minore uguale del campo \"Data scheduling a\"");
        }
        else {
            aggiornaTabellaFileDaElaborare();
            aggiornaTabellaFileElaborati();
            $(".content-TabelleCSO").show();
        }
    }

    function aggiornaTabellaFileDaElaborare() {
        //costrisci oggetto filtro
        var complexObject = {
            idFlusso: $('#ddlFlusso').val(),
            dataDa: $('#indatetimepicker1').val(),
            dataA: $('#indatetimepicker2').val(),
        };

        var table = $('#grigliaFileDaElaborare').DataTable({
            destroy: true,
            "lengthMenu": [10, 25, 50, 100],
            "language": {
                url: '/Scripts/plugins/datatables/dataTables.italian.lang.js'
            },
            "ajax": {
                url: '/Action/prelevaElencoFileDaElaborare/',
                "type": "POST",
                "data": complexObject,
                "dataSrc": '',
            },
            columnDefs: [
                { type: 'date-eu', targets: 0 },
                { type: 'date-euro', targets: 1 },
            ],
            "columns": [
            {
                "data": null,
                "render": function (data, type, row, meta) {
                    if (type === 'display') {
                        return ToJavaScriptDate(data.dataFlussoDa);
                    }
                    else {
                        return data.dataFlussoDa;
                    }
                }
            },
            {
                "data": null,
                "render": function (data, type, row, meta) {
                    if (type === 'display') {
                        return ToJavaScriptDate(data.dataFlussoA)
                    }
                    else {
                        return data.dataFlussoA;
                    }
                }
            },
            {
                "data": null,
                "render": function (data, type, row, meta) {
                    if (type === 'display') {
                        return ToJavaScriptDateTime(data.dataCaricamento)
                    }
                    else {
                        return data.dataCaricamento;
                    }
                }
            },
                { "data": "idFlusso" },
                { "data": "nomeFile" },
            {
                "data": null,
                "render": function (data, type, row, meta) {
                    return '<span style=\"cursor:pointer\" onClick=\"avviaElaborazioneFile(\'' + data.idArchivio + '\');\"><i class=\"fa fa-magic\" title=\"Inserisci in tabella\" style=\"font-size:18px\"></i></span>';
                }
            }]
        });
    }

    function aggiornaTabellaFileElaborati() {
        var complexObject = {
            idFlusso: $('#ddlFlusso').val(),
            dataDa: $('#indatetimepicker1').val(),
            dataA: $('#indatetimepicker2').val(),
        };

        var table = $('#grigliaFileElaborati').DataTable({
            destroy: true,
            "lengthMenu": [10, 25, 50, 100],
            "language": {
                url: '/Scripts/plugins/datatables/dataTables.italian.lang.js'
            },
            "ajax": {
                url: '/Action/PrelevaElencoFileElaborati/',
                "type": "POST",
                "data": complexObject,
                "dataSrc": '',
            },
            columnDefs: [
                { type: 'date-eu', targets: 0 },
                { type: 'date-euro', targets: 1 },
            ],
            "columns": [
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            return ToJavaScriptDate(data.dataFlussoDa);
                        }
                        else {
                            return data.dataFlussoDa;
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            return ToJavaScriptDate(data.dataFlussoA)
                        }
                        else {
                            return data.dataFlussoA;
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            return ToJavaScriptDateTime(data.dataCaricamento)
                        }
                        else {
                            return data.dataCaricamento;
                        }
                    }
                },
                { "data": "idFlusso" },
                { "data": "nomeFile" },
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        return '<span style=\"cursor:pointer\" onClick=\"avviaDownload(\'' + data.idArchivio + '\');\"><i class=\"fa fa-download\" title=\"Inserisci in tabella\" style=\"font-size:18px\"></i></span>';
                    }
                }]
        });
    }

    function ToJavaScriptDate(value) {
        if (value != undefined) {
            var dt = new Date(value);
            return dt.getDate().toString().lpad('0', 2) + "/" + (dt.getMonth() + 1).toString().lpad('0', 2) + "/" + dt.getFullYear();
        }
        return "";
    }

    function ToJavaScriptDateTime(value) {
        if (value != undefined) {
            var dt = new Date(value);
            return dt.getDate().toString().lpad('0', 2) + "/" + (dt.getMonth() + 1).toString().lpad('0', 2) + "/" + dt.getFullYear() + " " + dt.getHours().toString().lpad('0', 2) + ":" + dt.getMinutes().toString().lpad('0', 2) + ":" + dt.getSeconds().toString().lpad('0', 2);
        }
        return "";
    }

    //controllo per validazione date
    $('#indatetimepicker1').datepicker({
        language: "it",
        todayHighlight: true,
        format: "dd/mm/yyyy",
    }).on('changeDate', function (selected) {
        var from = $('#indatetimepicker1').datepicker('getDate');
        var nextDate = new Date(from.getFullYear(), from.getMonth(), from.getDate() + 1);
        $('#indatetimepicker2').datepicker('setStartDate', from);
        $('#indatetimepicker2').datepicker('setDate', nextDate);
    });

    $('#datetimepicker2').datepicker({
        language: "it",
        todayHighlight: true,
        format: "dd/mm/yyyy",
    });
</script>
<script type="text/javascript">

    var dataA = '';

    $(function () {
        String.prototype.lpad = function (padString, length) {
            var str = this;
            while (str.length < length)
                str = padString + str;
            return str;
        }

        if (dataA == '') {
            d = new Date();
            dataDa = (d.getUTCDate() + 1) + '/' + (d.getMonth() + 1).toString().lpad('0', 2) + '/' + (d.getYear() + 1900);
            dataA = (d.getUTCDate() + 2) + '/' + (d.getMonth() + 1).toString().lpad('0', 2) + '/' + (d.getYear() + 1900);
        }

        $('#indatetimepicker1').datepicker({
            language: "it",
            todayHighlight: true,
            format: "dd/mm/yyyy",
        });

        $('#indatetimepicker2').datepicker({
            language: "it",
            todayHighlight: true,
            format: "dd/mm/yyyy",
        });

        $('#indatetimepicker1').datepicker('update', dataDa);
        $('#indatetimepicker2').datepicker('update', dataA);
    });
</script>
