﻿/*input.parsley-success, select.parsley-success, textarea.parsley-success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #468847;
}*/

input.parsley-error, select.parsley-error, textarea.parsley-error {
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    color: #b94a48;
}

.parsley-errors-list {
    font-size: 0.9em;
    line-height: 0.9em;
    list-style-type: none;
    margin: 2px 0 3px;
    opacity: 0;
    padding: 0;
    transition: all 0.3s ease-in 0s;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.bs-callout {
    border-left: 3px solid #eee;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    background-color: #fff;
    border-radius: 3px;
}
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}