﻿@{
    ViewBag.Title = "Error Page";
}

<div class="box-body">
    <div class="row">
        <div class="errorPage-Template">
            <i class="fa fa-exclamation-triangle errorPage-icon"></i>
            <h1>
                Ops!
            </h1>
            <div class="errorPage-details">
                Ci dispiace, si è verificato un errore!
            </div>
            <div class="errorPage-details">
                ritorna alla <i class="fa fa-home home-error-icon" onclick="redirect()"></i>
            </div>
        </div>
    </div>
</div>

<script>
    function redirect() {
        location.href = '@Url.Action("Index", "Home")'
    }
</script>
