﻿@model Enel.Indra.CIMBypass.Models.Upload.DettaglioScartiVModel

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="overflow-y:auto;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="box box-primary">
            <div class="box-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <h5 class="modal-title scarti-title" id="exampleModalLabel">Dettaglio Scarti</h5>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-3 none-padding-lft">
                                <div class="form-group border-description">
                                    <label class="label-light">Flusso</label>
                                    <p class="card-text" id="testoFlusso"></p>
                                </div>
                            </div>
                            <div class="col-md-3 none-padding-lft">
                                <div class="form-group border-description">
                                    <label class="label-light">Data Scheduling</label>
                                    <p class="card-text" id="testoDataScheduling"></p>
                                </div>
                            </div>
                            <div class="col-md-3 none-padding-lft">
                                <div class="form-group border-description">
                                    <label class="label-light">Data Upload</label>
                                    <p class="card-text" id="testoDataUpload"></p>
                                </div>
                            </div>
                            <div class="col-md-3 no-padding">
                                <div class="form-group border-description">
                                    <label class="label-light">Versione</label>
                                    <p class="card-text" id="testoVersione"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="tabellaTSO_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-width-uploaded table-striped dataTable text-table no-footer" role="grid" aria-describedby="tabellaTSO" id="tabellaScarti">
                                        <thead>
                                            <tr role="row">
                                                <td class="sorting_asc" tabindex="0" aria-controls="tabellaTSO" rowspan="1" colspan="1" aria-sort="ascending" aria-label="N° Riga">N° Riga</td>
                                                <td class="sorting" tabindex="0" aria-controls="tabellaTSO" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Motivazione Scarto">Motivazione Scarto</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal body -->
                <div class="modal-footer">
                    <button type="button" class="button-main-enel" onclick="avviaDownloadFileScarti()">Download Scarti <i class="fa fa-download"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Scripts/plugins/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script>
        // get the response and fill
        function popolaModale(obj) {
            popolaModaleHeader(obj);
            popolaModaleData(obj.elencoScarti);
        }

        // fill header
        function popolaModaleHeader(obj) {
            $("#testoFlusso").html(obj.flusso);
            $("#testoDataScheduling").html(obj.dataScheduling);
            $("#testoDataUpload").html(obj.dataUpload);
            $("#testoVersione").html(obj.versione);
        }

        // fill table data
        function popolaModaleData(data) {
            $('#tabellaScarti').DataTable({
                data: data,
                destroy: true,
                "lengthMenu": [5, 7, 10],
                "language": {
                    url: '/Scripts/plugins/datatables/dataTables.italian.lang.js'
                },
                "columns": [
                   { "data": 'numeroRighe' },
                   { "data": "motivoScarto" },
                ]
            });
        };
    </script>
    <script>
        var idArchioCSV = 0;
        // visualizza
        function visualizzaDettaglioScarti(idCsv) {
            if (idCsv) {
                costruisciElencoScarti(idCsv);
                idArchioCSV = idCsv;
            }
        }
        // vera chiamata al controller
        function costruisciElencoScarti(id) {
            var obj = { id: id };
            var json = JSON.stringify(obj);
            $.ajax({
                type: "POST",
                url: '@Url.Action("costruisciElencoScarti")',
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    popolaModale(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function avviaDownloadFileScarti() {
            var url = "@Url.Action("getFileScarti", new { @idArchivioCsv= 0 })";
            url = url.replace( 0, idArchioCSV);
            window.location.href = url;
        }
    </script>
    <!-- script dataTable -->
