﻿

<!-- section upload -->
<section class="col-lg-4 connectedSortable">
    <div class="box box-primary">
        <div class="box-body box-height-fixed">
            <div class="form-group text-center">
                <div id="drag-and-drop-zone" class="dm-uploader dashed-box">
                    <div class="box-body">
                        <h3 class="mb-5 mt-5 text-muted">Trascina i file qui</h3>
                        <div class="text-detail-paragraph">oppure</div>
                        <div class="btn bg-red btn-block button-upload-enel mb-5">
                            <span>
                                file...
                            </span>
                            <input type="file" title='Premi per aggiungere file' />
                        </div>
                        <h6></h6>
                    </div>
                </div>

            </div>
            <div class="box-footer" style="border-top: 0;">
                <div class="col-md-12 no-padding">
                    <button type="button" class="button-cancel-enel pull-left" id="btnApiCancel">
                        <i class="fa fa-close"></i> Cancella
                    </button>
                    <button type="button" class="button-primary-enel pull-right" id="btnApiStart">
                        Avvio <i class="fa fa-play"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section upload -->

<section class="col-lg-4 connectedSortable">
    <div class="box box-primary">
        <div class="box-body box-height-fixed">
            <div class="form-group text-center">
                <div class="card-header">
                    <h3 class="mb-5 mt-5 text-muted">Lista file</h3>
                </div>
                <ul class="list-unstyled p-2 d-flex flex-column col" id="files" style="height: 193px; overflow-y:auto; border:0.5px solid #ccc; border-style: dashed;">
                    <li class="text-muted text-center empty">Nessun file caricato.</li>
                </ul>
            </div><!-- /file list -->
            <div class="form-group" style="display:none">
                <div class="col-md-12 col-sm-12">
                    <div class="card h-100">
                        <div class="card-header">
                            Debug Messages
                        </div>
                        <ul class="list-group list-group-flush" id="debug">
                            <li class="list-group-item text-muted empty">Caricamento plug-in....</li>
                        </ul>
                    </div>
                </div>
            </div> <!-- /debug -->
            @{
                //Html.RenderPartial("_DettaglioScarti");
            }         
        </div>
    </div>
</section>

<!-- File item template -->
<script type="text/html" id="files-template">
    <li class="media">
        <div class="media-body mb-1">
            <p class="mb-2">
                <strong>%%filename%%</strong>
                <div class="text-detail-paragraph">Stato upload:</div><span class="text-muted">Premere il tasto <strong>Avvio</strong> per eseguire l'upload...</span>
            </p>
            <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                     role="progressbar"
                     style="width: 0%"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <hr class="mt-1 mb-1" />
        </div>
    </li>
</script>
<!-- Debug item template -->
<script type="text/html" id="debug-template">
    <li class="list-group-item text-%%color%%"><strong>%%date%%</strong>: %%message%%</li>
</script>

<script>
    //controllo per validazione date
    $('#datetimepicker').datepicker({
        language: "it",
        todayHighlight: true,
        format: "dd/mm/yyyy",
    }).on('changeDate', function (selected) {
        var from = $('#datetimepicker').datepicker('getDate');
        var nextDate = new Date(from.getFullYear(), from.getMonth(), from.getDate() + 1);
        $('#datetimepicker2').datepicker('setStartDate', from);
        $('#datetimepicker2').datepicker('setDate', nextDate);
    });

    $('#datetimepicker2').datepicker({
        language: "it",
        todayHighlight: true,
        format: "dd/mm/yyyy",
    });
</script>
