﻿@{
    ViewBag.Title = "Upload";
}

@model Enel.Indra.CIMBypass.Models.Upload.UploadVModel

<link href="~/Scripts/plugins/uploader-master/dist/css/jquery.dm-uploader.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/uploader-master/dist/js/jquery.dm-uploader.min.js"></script>
<script src="~/Scripts/plugins/uploader-master/dist/config/ui.js"></script>
<script src="~/Scripts/plugins/uploader-master/dist/config/config.js"></script>
<link href="~/Scripts/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/Scripts/plugins/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/controlDatePicker.js"></script>

<section class="content-header">
    <div class="title-pages">
        Upload File
    </div>
</section>
<section class="content">
    <div class="row">
        <section class="col-lg-4 connectedSortable">
            <div class="box box-primary">
                <div class="box-body box-height">
                    <form role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="Nome flusso" class="control-label label-light">Nome flusso:</label>
                            <div>
                                @Html.DropDownListFor(m => m.flussoSelezionato, Model.elencoFlussi, "Scegli un flusso", new { @class = "form-control", @name = "ddlFlusso", @id = "ddlFlusso" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Nome flusso" class="control-label label-light">Mercato:</label>
                            <div>
                                @Html.DropDownListFor(m => m.flussoSelezionato, Model.elencoFlussi, "Scegli un flusso", new { @class = "form-control", @name = "ddlFlusso", @id = "ddlFlusso" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label label-light">Data Flusso da:</label>
                            <div>
                                <div class="input-group date" id="datetimepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" id="indatetimepicker1" name="indatetimepicker1" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label-light" control-label">Data Flusso a:</label>
                            <div>
                                <div class="input-group date" id="datetimepicker2">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" id="indatetimepicker2" name="indatetimepicker2" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <form role="form" enctype="multipart/form-data">
            <!-- section upload -->
            <section class="col-lg-4 connectedSortable">
                <div class="box box-primary">
                    <div class="box-body box-height-fixed">
                        <div class="form-group text-center">
                            <div id="drag-and-drop-zone" class="dm-uploader dashed-box">
                                <div class="box-body">
                                    <h3 class="mb-5 mt-5 text-muted">Trascina i file qui</h3>
                                    <div class="text-detail-paragraph">oppure</div>
                                    <div class="btn bg-red btn-block button-upload-enel mb-5">
                                        <span>
                                            file...
                                        </span>
                                        <input type="file" title='Premi per aggiungere file' />
                                    </div>
                                    <h6></h6>
                                </div>
                            </div>

                        </div>
                        <div class="box-footer" style="border-top: 0;">
                            <div class="col-md-12 no-padding">
                                <button type="button" class="button-cancel-enel pull-left" id="btnApiCancel">
                                    <i class="fas fa-stop"></i> Cancella
                                </button>
                                <button type="button" class="button-primary-enel pull-right" id="btnApiStart">
                                    Avvio <i class="fa fa-play"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section upload -->
            <section class="col-lg-4 connectedSortable">
                <div class="box box-primary">
                    <div class="box-body box-height-fixed">
                        <div class="form-group text-center">
                            <div class="card-header">
                                <h3 class="mb-5 mt-5 text-muted">Lista file</h3>
                            </div>
                            <ul class="list-unstyled p-2 d-flex flex-column col" id="files" style="height: 193px; overflow-y:auto; border:0.5px solid #ccc; border-style: dashed;">
                                <li class="text-muted text-center empty">Nessun file caricato.</li>
                            </ul>
                        </div><!-- /file list -->
                        <div class="form-group" style="display:none">
                            <div class="col-md-12 col-sm-12">
                                <div class="card h-100">
                                    <div class="card-header">
                                        Debug Messages
                                    </div>
                                    <ul class="list-group list-group-flush" id="debug">
                                        <li class="list-group-item text-muted empty">Caricamento plug-in....</li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /debug -->
                        @{
                            //Html.RenderPartial("_DettaglioScarti");
                        }
                    </div>
                </div>
            </section>
            <!-- File item template -->
            <script type="text/html" id="files-template">
                <li class="media">
                    <div class="media-body mb-1">
                        <p class="mb-2">
                            <strong>%%filename%%</strong>
                            <div class="text-detail-paragraph">Stato upload:</div><span class="text-muted">Premere il tasto <strong>Avvio</strong> per eseguire l'upload...</span>
                        </p>
                        <div class="progress mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                 role="progressbar"
                                 style="width: 0%"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <hr class="mt-1 mb-1" />
                    </div>
                </li>
            </script>
            <!-- Debug item template -->
            <script type="text/html" id="debug-template">
                <li class="list-group-item text-%%color%%"><strong>%%date%%</strong>: %%message%%</li>
            </script>
        </form>
    </div>
</section>

<script>
    //controllo per validazione date
    $('#datetimepicker').datepicker({
        language: "it",
        todayHighlight: true,
        format: "dd/mm/yyyy",
    }).on('changeDate', function (selected) {
        var from = $('#datetimepicker').datepicker('getDate');
        var nextDate = new Date(from.getFullYear(), from.getMonth(), from.getDate() + 1);
        $('#datetimepicker2').datepicker('setStartDate', from);
        $('#datetimepicker2').datepicker('setDate', nextDate);
    });

    $('#datetimepicker2').datepicker({
        language: "it",
        todayHighlight: true,
        format: "dd/mm/yyyy",
    });
</script>
<script type="text/javascript">

    var dataA = '';

    $(function () {
        String.prototype.lpad = function (padString, length) {
            var str = this;
            while (str.length < length)
                str = padString + str;
            return str;
        }

        if (dataA == '') {
            d = new Date();
            dataDa = (d.getUTCDate() + 1) + '/' + (d.getMonth() + 1).toString().lpad('0', 2) + '/' + (d.getYear() + 1900);
            dataA = (d.getUTCDate() + 2) + '/' + (d.getMonth() + 1).toString().lpad('0', 2) + '/' + (d.getYear() + 1900);
        }

        $('#datetimepicker').datepicker({
            language: "it",
            todayHighlight: true,
            format: "dd/mm/yyyy",
        });

        $('#datetimepicker2').datepicker({
            language: "it",
            todayHighlight: true,
            format: "dd/mm/yyyy",
        });

        $('#datetimepicker').datepicker('update', dataDa);
        $('#datetimepicker2').datepicker('update', dataA);
    });
</script>
